* {
    border: none;
    border-radius: 0;
    font-family: DejaVu, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: #03080f;
    border-top: 3px solid #29313d;
    color: #ffffff;
}

#workspaces button {
    padding: 1px 9px 0 9px;
    margin: 0 4px;
    color: #ffffff;
    min-width: 0;
    background-color: #0a1629;
    border-top: 3px solid #667a99;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: #182f4e;
    box-shadow: inherit;
    border-top: 3px solid #cccccc;
}

#workspaces button.focused {
    background-color: #3465a4;
    border-top: 3px solid #ffffff;
}

#workspaces button.urgent {
    background-color: #cc0000;
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#tray,
#mode {
    padding: 3px 10px 0 10px;
    margin: 0 4px;
    background-color: #0a1629;
    border-top: 3px solid #667a99;
    color: #ffffff;
}

#mode {
    background-color: #3465a4;
    border-top: 3px solid #ffffff;
}
